body {
  background: #EFEFEF; }

.jumbotron {
  background: #67CCFF; }

.jumbotronB {
  background: #ffffff; }

.iconos {
  margin: 5px 5px 5px 5px; }

.imagenCarrusel {
  width: auto;
  height: 300px;
  display: block; }

.social {
  width: auto;
  height: 55px;
  display: block;
  padding: 5px;
  margin: 5px; }

.form1 {
  width: 40%;
  height: 40%;
  background: white;
  display: center;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px; }

@media only screen and (max-width: 576px) {
  .social {
    width: auto;
    height: 55px;
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center; }
  .contsocial {
    display: flex;
    align-items: center;
    justify-content: center; } }
